package/dist/*
package/myenv/*
package/venv/*
package/src/chromatic_matroids/__pycache__/*
notebooks/env/

myenv/*
venv/*
.claude/*
chromatic_matroids/dist/*
*__pycache__*
*/venv/*
venv/*
package/*
.claude/*
*/src/*